/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
    margin: 0;
    padding: 0;
    border:0;
}

body{
    background: #eff7fa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

.underline{
    width: 100px;
    height: 4px;
    background: #004877;
    margin: 0 auto;
}

.header{
    max-width: 100%;
}

.header__body{
    width: 1240px;
    max-width: 100%;
    margin:0 auto;
}

.header__logo{
    width: 160px;
    margin: 1em 0em;
}

.header__nav{
    margin: .5em 0em 1.5em;
}

.header__nav a{
    padding: 13px 25px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    margin: 0px;
    font-weight: 600;
}

.col-md-6.section__tab--menu {
    padding-left: 0;
    padding-right: 0;
}

.banner__index{
    max-width: 100%;
    display: flex;
    position: relative;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../img/hero-img1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__about{
    max-width: 100%;
    display: flex;
    position: relative;
    height: 40vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__menu{
    max-width: 100%;
    display: flex;
    position: relative;
    height: 40vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../img/menu-3.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__contact{
    max-width: 100%;
    display: flex;
    position: relative;
    height: 40vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner__img{
    max-width: 100%;
}

.banner__heading{
    position: absolute;
    font-family: 'Sacramento', cursive;
    color: #fff;
    font-size: 5em;
    font-weight: 300;
    width: 55%;
    left: 23%;
    top: 28%;
}

.section__about{
    max-width: 1206px;
    margin: 0 auto;
    padding: 50px;
}

.section__heading{
    font-weight: 700;
}

.section__about p{
    width: 60%;
    margin: 20px auto;
}

.section__order{
    padding: 40px 0px;
    background: #d4e5f1;
}

.row.section__body{
    max-width: 100%;
    width: 1080px;
    margin: 0 auto;
    padding-top: 25px;
}

.section__order--img img{
    width: 85%;
}

.section__order--img p{
    font-size: 18px;
    line-height: 2.4;
}

.btn.order__btn--blue {
    color: #fff;
    font-size: 16px;
    margin: 20px 0px;
    background: #2a6388;
    font-weight: 600;
    padding: 10px 25px;
}
.row.section__tab{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.section__tab--menu img{
    width: 100%;
    height: auto;
}

.section__social--img {
    display: inline-block;
    margin: 0px 12px;
}

.section__social--img--padding{
    padding: 20px 0px;
}

.social--icon{
    width: 30px;
}

.section__iframe{
    width:60%;
    border:0;
    overflow:hidden;
    height: 100vh;
}

footer{
    padding: 40px 0px;
    background: #363636;
    color: #fff;
}

footer h4{
    font-weight: 600;
}

footer .footer__copyright{
    
}

/* Media Queries */
@media screen and (max-width: 760px) {
    .banner__index .banner__heading{
        position: absolute;
        font-family: 'Sacramento', cursive;
        color: #fff;
        font-size: 4em;
        font-weight: 300;
        width: 100%;
        left: 2%;
        top: 32%;
    }
    .banner__heading{
        position: absolute;
        font-family: 'Sacramento', cursive;
        color: #fff;
        font-size: 4em;
        font-weight: 300;
        width: 100%;
        left: 0%;
        top: 36%;
    }
    .section__about{
        padding: 25px;
    }
    .section__about p{
        width: 100%;
        margin: 20px auto;
    }
    .header__nav a {
        padding: 13px 25px;
        font-size: 14px;
    }
    .section__order--img img {
        width: 40%;
    }
    .section__iframe {
        width: 75%;
    }
    .col-md-4.section__order--img {
        padding: 10px 0px;
    }
}
@media screen and (max-width: 480px) {
    .banner__index .banner__heading{
        position: absolute;
        font-family: 'Sacramento', cursive;
        color: #fff;
        font-size: 3em;
        font-weight: 300;
        width: 100%;
        left: 2%;
        top: 32%;
    }
    .banner__heading{
        position: absolute;
        font-family: 'Sacramento', cursive;
        color: #fff;
        font-size: 3em;
        font-weight: 300;
        width: 100%;
        left: 0%;
        top: 36%;
    }
    .section__about p{
        width: 100%;
        margin: 20px auto;
    }
    .section__iframe{
        width:100%;
    }
    .header__nav a {
        padding: 13px 10px;
        font-size: 12px;
    }
}
/* ==========================================================================
   Fonts used 
   font-family: 'Sacramento', cursive;
   font-family: 'Open Sans', sans-serif;

   ========================================================================== */